# Environment for Docker Compose 
ENVIRONMENT=development/sandbox/production
LOG_LEVEL=DEBUG/INFO
AGENT_DEBUGGER=false
ASSISTANT_ENABLED=true

# Langchain tracing
LANGCHAIN_TRACING_V2=
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
LANGCHAIN_API_KEY=
LANGCHAIN_PROJECT=

# Domain names
DOMAIN_NAME=
WEBAPP_DOMAIN=
BACKEND_DOMAIN=

# Web Search API
EXA_API_KEY=

# Mounted storage
STORAGE_MOUNT_VOLUME=/dev/null:/mnt/data-bucket

# SSL verification in request
SSL_VERIFICATION=True

# JWT Secret key
JWT_SECRET=
TOKEN_VALIDITY=12 # Hours in digits

# Environment Secret key
ENVIRONMENT_SECRET=

# Database credentials
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}

# Postgres server config
DB_POOL_SIZE=2
DB_MAX_OVERFLOW=3
POSTGRES_MAX_CONNECTIONS=250
POSTGRES_SHM_SIZE=2gb
POSTGRES_SHARED_BUFFERS=1GB
POSTGRES_SERVER_MEMORY=2048

# Redis credentials
REDIS_URL=redis://redis:6379/0

# MinIO credentials
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=

# Milvus credentials
MILVUS_USERNAME=
MILVUS_PASSWORD=
MILVUS_TOKEN=${MILVUS_USERNAME}:${MILVUS_PASSWORD}
MILVUS_URI=http://milvus:19530

# Root user
PLATFORM_ROOT_USER=
PLATFORM_ROOT_PASSWORD=

# Docker credentials
DOCKER_USER=vikasr111
DOCKER_ACCESS_TOKEN=

# Web App Env
BACKEND_URL=
NEXTAUTH_SECRET=
NEXTAUTH_URL=
NEXTAUTH_BACKEND=http://backend-core:8000

# Celery Worker Concurrency
BACKEND_WORKER_CONCURRENCY=1
ATTACHMENT_WORKER_CONCURRENCY=2
AGENT_WORKER_CONCURRENCY=1
KNOWLEDGE_WORKER_CONCURRENCY=2

# Celery Worker CPU
BACKEND_WORKER_CPU=1
ATTACHMENT_WORKER_CPU=4
AGENT_WORKER_CPU=1
KNOWLEDGE_WORKER_CPU=4

#
